<h1 class="titleList">PROMEDIOS</h1>
  <table>
    <thead>
        <tr>
            <th>Nacionalidad</th>
            <th>Edad Media</th>
        </tr>
    </thead>
    <tbody style="background-color: rgb(208, 208, 208);">
        <tr *ngFor="let item of dataSource | keyvalue">
            <td>{{item.key}}</td>
            <td>{{item.value}}</td>
        </tr>
    </tbody>
</table>
    


<section class="addUser" style="margin-top: 50px;">
    <button type="button" routerLink='' class="btnAddUser">
      <i class="fas fa-id-badge"></i>
      <span class="addUserText">Regresar</span>
    </button>
  </section>



