<h1 class="titleEmployee">{{titleEmployee}}</h1>


<form [formGroup]="formGroup" (ngSubmit)="save($event)" novalidate class="formReactive">

    <section class="gridControls">

        <mat-form-field class="containerFormReactiveItem gridEmployee">
            <input matInput placeholder="Ingrese el primer nombre" formControlName="primerNombre">
        </mat-form-field>

        <mat-form-field class="containerFormReactiveItem gridEmployee">
            <input matInput placeholder="Ingrese el segundo nombre" formControlName="segundoNombre">
        </mat-form-field>

        <mat-form-field class="containerFormReactiveItem gridEmployee">
            <input matInput placeholder="Ingrese el primer apellido" formControlName="apellidoPaterno">
        </mat-form-field>

        <mat-form-field class="containerFormReactiveItem gridEmployee">
            <input matInput placeholder="Ingrese el segundo apellido" formControlName="apellidoMaterno">
        </mat-form-field>

        <div>
            <label for="" style="display: block; font-weight: bold;">Ingrese la fecha de nacimiento   </label>
            <input style="height: 30px; width: 150px;  border-radius: 5px; font-size: 15px;" 
            type="date" placeholder="Ingrese la fecha de nacimiento" formControlName="fechaNacimiento" required pattern="\d{4}-\d{2}-\d{2}">
        </div>
        <mat-form-field class="containerFormReactiveItem gridEmployee">
            <mat-label>Seleccione el Nivel de Educacion</mat-label>
            <mat-select formControlName="cNivelEducacion">
                <mat-option *ngFor="let item of dataLevelEducationAll" [value]="item">
                    {{item}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-radio-group aria-label="" formControlName="sexo">
            <label for="" style="display: block; font-weight: bold;">Seleccione el género</label>
            <mat-radio-button value="HOMBRE">Masculino</mat-radio-button>
            <mat-radio-button value="MUJER">Femenino</mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="containerFormReactiveItem gridEmployee">
            <mat-label>Seleccione el País</mat-label>
            <mat-select formControlName="cNacionalidad">
                <mat-option *ngFor="let item of dataCountryAll" [value]="item">
                    {{item}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </section>

    <div style="display: flex;">
        <div  style="margin-right: 50px;">
            <button class="btnAddUser" type="submit" href="http://localhost:4200/users-list">Guardar</button>
        </div>

        <div>
            <button type="button" routerLink='' class="btnAddUser">
                <i class="fas fa-id-badge"></i>
                <span class="addUserText">Regresar</span>
              </button>
        </div>

    </div>

    
</form>


