<h1 class="titleList">Administracion de Clientes</h1>

<section class="addUser">
  <button type="button" routerLink='/users-create' class="btnAddUser">
    <i class="fas fa-id-badge"></i>
    <span class="addUserText">Agregar</span>
  </button>
</section>

<section class="addUser">
  <button type="button" routerLink='/average-list' class="btnAddUser">
    <i class="fas fa-id-badge"></i>
    <span class="addUserText">Promedios</span>
  </button>
</section>

<section>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Codigo</th>
        <td mat-cell *matCellDef="let element"> {{element.codigo}}  </td>
    </ng-container>  
      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombres</th>
          <td mat-cell *matCellDef="let element"> {{element.primerNombre}} {{element.segundoNombre}} </td>
        </ng-container>
        <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef>Apellidos</th>
            <td mat-cell *matCellDef="let element"> {{element.apellidoPaterno}}  {{element.apellidoMaterno}}</td>
        </ng-container>

        <ng-container matColumnDef="birthday">
            <th mat-header-cell *matHeaderCellDef>Fecha Nacimiento</th>
            <td mat-cell *matCellDef="let element"> {{element.fechaNacimiento | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef>Género</th>
            <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
        </ng-container>

        <ng-container matColumnDef="education">
            <th mat-header-cell *matHeaderCellDef>Educación</th>
            <td mat-cell *matCellDef="let element"> {{element.nivelEducacion.sigla}} </td>
        </ng-container>

        <ng-container matColumnDef="nationality">
            <th mat-header-cell *matHeaderCellDef>Nacionalidad</th>
            <td mat-cell *matCellDef="let element"> 
              <a [routerLink]="['/average-list/' + element.nacionalidad.codigo]" style="color: red;">
                {{element.nacionalidad.genticilioNacionalidad}} 
              </a>
              </td>
            
        </ng-container>

        <!-- <ng-container matColumnDef="transactions">
            <th mat-header-cell *matHeaderCellDef class="replace-sort"> Acciones </th>
            <td mat-cell *matCellDef="let element">
              <div class="transactionsFlex">
                <mat-icon mat-raised-button matTooltip="Editar" matTooltipClass="tooltip-edit" class="transactionAction" [routerLink]="['/users-edit/' + element.codigo]">
                  edit_note
                </mat-icon>

                <button (click)="manPerson(element.codigo)">
                  ManPerson
                </button>
          
                <mat-icon mat-raised-button matTooltip="Ver detalles" matTooltipClass="tooltip-view" class="transactionAction" [routerLink]="['/employees-view/' + element.id]">
                  visibility
                </mat-icon>
          
                <mat-icon mat-raised-button matTooltip="Eliminar registro" matTooltipClass="tooltip-delete"
                  class="transactionAction">
                  delete
                </mat-icon>
              </div>
            </td>
        </ng-container> -->
        

      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
</section>

